<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .genrate-url {
        padding-top: 50px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-filed label {
        font-size: 25px;
    }

    .form-filed input {
        font-size: 25px;
        height: 40px;
        padding-left: 5px;
    }

    button {
        font-size: 25px;
        height: 45px;
        margin-left: 10px;
        cursor: pointer;
    }
    .shortUrl{
        width: 50%;
        height: 100px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        padding: 10px;
        background-color: rgb(17, 11, 11);
    }
    .url{
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        background-color: white;
        margin-bottom:10px ;
        color: black;
        font-size: 25px;
        display: flex;
        padding-left: 10px;
        align-items: center;
    }
</style>

<body style="background-color: rgb(58, 58, 58);color:white">
    <div class="genrate-url">
        <div class="form-filed">
            <label>Original Url:</label>
            <input type="text" id="originalUrl" placeholder="https://example.com/">
            <button id="submitBtn">Generate</button>
        </div>
        <div class="shortUrl">
            <div class="url" id="url"></div>
            <div class="btnSec">
                <button id="copy">copy</button>
                <a href="http://localhost:8000/renderRoute/url/get-rendered-analytics"><button>view All analytics</button></a>
            </div>
        </div>
    </div>
</body>

<script>
    const submitBtn = document.getElementById("submitBtn");
    const originalUrl = document.getElementById("originalUrl");
    const copy = document.getElementById("copy");
    const urlSec = document.getElementById("url");
    const shortUrl = document.querySelector(".shortUrl");
    submitBtn.addEventListener("click", () => {
        const url = originalUrl.value;
        if(!url)
        {
            alert("Please enter Url");
            return;
        }
        fetch("http://localhost:8000/api/url/",{
            method:"POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({url:url})
        }).then((response) => response.text())
        .then((result) => {
            const res = JSON.parse(result);
            urlSec.innerHTML = res.shortUrl;
            shortUrl.style.display = "flex";
        })
        .catch((error) => console.error(error));
    });

    copy.addEventListener("click", () => {
        navigator.clipboard.writeText(urlSec.innerText).then(() => {
            console.log('Text copied to clipboard');
        }).catch(err => {
            console.error('Failed to copy text: ', err);
        });
        copy.innerText = "copied";
    });
    
    setTimeout(() => {
        if (copy.innerText === "copied") {
            copy.innerText = "copy";
        }
    }, 2000);
    
</script>

</html>